
.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal{
    border: 1px solid green;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    
}

.crystal:hover{
    box-shadow: 3px 3px 3px 3px;
    cursor: pointer;
}